@use "../abstracts" as *;

.header {
    margin-bottom: 32.11px;
    text-align: left;

    @include breakpoint-up(large) {
        margin-bottom: 0;
    }
    &__logo {
        width: 100px;
        margin-top: 31px;
        margin-left: 32px;
        @include breakpoint-up(large) {
            width: 158px;
            margin-top: 64.91px;
            margin-left: 165px;
        }
    }
}
