@use "../abstracts" as *;

.header {
    margin-bottom: 2.0069rem;
    text-align: left;

    @include breakpoint-up(large) {
        margin-bottom: 0;
    }
    &__logo {
        width: 6.25rem;
        margin-top: 1.9375rem;
        margin-left: 2rem;
        @include breakpoint-up(large) {
            width: 9.875rem;
            margin-top: 4.0569rem;
            margin-left: 10.3125rem;
        }
    }
}
