@use "../abstracts/" as *;

.hero {
    height: 15.625rem;
    background-image: url("../images/hero-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 4rem;

    @include breakpoint-up(large) {
        background-image: url("../images/hero-desktop.jpg");
        grid-area: hero;
        height: 100%;
        margin-bottom: 0;
        background-position: center;
    }
}
